.costs-charts{
  margin: 3%;
}

.info-cards{
  margin: 8% 3%;
}

.total-r-costs{
  margin-top: 5%;
}

.r-costs-title{
  font-size: 1.7em;
}
.card-text > strong{
  font-size: 5.0em;
}

.desc{
  margin-top: -4%;
  font-size: 1.1em;
}

.chart-area{
  height: 400px;
}

.Overview{
margin: 3%
}

.chart-group{
  margin: 3%;
}

.row{
  margin-bottom: 3%;
}

.card-deck > .card{
  border-radius: 9px;
}

.card-body > i{
  font-size: 36px;
}

.card-text > strong{
  font-size: 3.0em;
}

.desc{
  margin-top: -4%;
  font-size: 0.8em;
}

#CC_container, #ISC_container, #AC_container, #CAP_container, #FRE_container, #UC_container{
  height: 100%;
  width: 100%;
}
