{% extends "staff/base.html" %}

{% block title %} Unified Help - Incoming Items{% endblock %}

<!-- Any css files/ internal css in here -->
{% block head %}
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.23/datatables.min.css"/>-->
{% endblock %}

<!-- Page content in here -->
{% block content %}
<div class="col-lg-12" style="margin: 1% 1.5%;">
    <h2 class="col-lg-12">Donation History</h2>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" style="border-radius: 50px;">
            <thead class="thead-dark">
                <tr>
                    <th>Item ID</th>
                    <th>Item Description</th>
                    <th>Collection Information<br>(Pick-Up or Drop-off)</th>
                    <th>Address Information</th>
                    <th>Contact Information</th>
                    <th>Confirmation Status</th>
                </tr>
            </thead>
            <tbody>
            {% for donorIID in donorsIID_list %}
                {% if donorIID.get_collection_status() == "Confirmed" or donorIID.get_collection_status() == "Pending" %}
                <tr>
                    <!-- Donation ID -->
                    <td>{{ donorIID.get_itemID() }}</td>

                    <!-- Donation Description -->
                    <td>
                        {{ donorIID.get_item_type() }}: <br> {{ donorIID.get_item_name() }} <br>
                        Weight: {{ donorIID.get_item_weight() }}kg <br>
                        Size: {{ donorIID.get_item_height() }}m x {{ donorIID.get_item_length() }}m x {{ donorIID.get_item_width() }}m
                    </td>

                    <!-- Collection Information -->
                    <td>{{ donorIID.get_collection_type() }} <br> Date: {{ donorIID.get_date() }}/{{ donorIID.get_month() }}/21 <br>
                    Time: {{ donorIID.get_time() }}</td>

                    <!-- Address Information, If We Pick Up -->
                    {% if donorIID.get_collection_type() == "We Pick Up" %}
                    <td>{{ donorIID.get_address1() }} <br> {{ donorIID.get_address2() }} <br> {{ donorIID.get_address3() }} <br>
                    {{ donorIID.get_postal_code() }}</td>
                    {% elif donorIID.get_collection_type() == "Drop Off" %}
                    <td>--</td>
                    {% endif %}

                    <!-- Contact Information -->
                    <td>--</td>

                    <!-- Collection Confirmation -->
                    {% if donorIID.get_collection_status() == "Confirmed"  and donorIID.get_status() == "Confirmed" %}
                    <td>
                        <form action="{{url_for('incoming_item_archive', id=donorIID.get_itemID())}}" method="POST">

                            <a href="#" style="color:#eb5d1e;" data-toggle="modal" data-target="#Archive_{{donorIID.get_itemID()}}">
                                {{ donorIID.get_collection_status() }}</a>

                            <!-- The Modal -->
                            <div class="modal" id="Archive_{{donorIID.get_itemID()}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Remove</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Archive item donation?
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <input type="submit" name="Archive" value="Archive" class="btn btn-success">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </td>
                    {% elif donorIID.get_collection_status() == "Pending" and donorIID.get_status() == "Confirmed" %}
                    <td>
                        <form action="{{url_for('incoming_item_confirmation', id=donorIID.get_itemID())}}" method="POST">

                            <a href="#" style="color:#eb5d1e;" data-toggle="modal" data-target="#Confirmation_{{donorIID.get_itemID()}}">
                                {{ donorIID.get_collection_status() }}</a>

                            <!-- The Modal -->
                            <div class="modal" id="Confirmation_{{donorIID.get_itemID()}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Confirm collection of item donation?
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <input type="submit" name="Confirm" value="Confirm" class="btn btn-success">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </td>
                    {% else %}
                    <td> </td>
                    {% endif %}

                </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- Link any js files here -->
{% block script %}
<!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.23/datatables.min.js"></script>-->

<!--<script>-->
<!--    $(document).ready( function () {-->
<!--    $('#table_id').DataTable();-->
<!--    } );-->
<!--</script>-->
{% endblock %}
