{% extends "staff/base.html" %}

{% block title %} Unified Help - Incoming Items{% endblock %}

<!-- Any css files/ internal css in here -->
{% block head %}
{% endblock %}

<!-- Page content in here -->
{% block content %}
<div class="col-lg-12" style="margin: 1% 1.5%;">
    <br><br>
    <h2>Donation History</h2>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" style="border-radius: 50px;">
            <thead class="thead-dark">
                <tr>
                    <th>Item ID</th>
                    <th>Item Description</th>
                    <th>Collection Information<br>(Pick-Up or Drop-off)</th>
                    <th>Address Information</th>
                    <th>Contact Information</th>
                    <th>Confirmation Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No incoming items</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- Link any js files here -->
{% block script %}
{% endblock %}
