{% extends "staff/base.html" %}
<!-- Page Title -->
{% block title %}Unified Help - Staff Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

<!--Page Content to be here-->
{% block content %}
<h1>This page may or may not make into the final product</h1>
<div class="card mb-3 pres-card" style="max-width: 65%;">
  <div class="row no-gutters">
      <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Emperor's Message</h5>
        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."tent. This content is a little bit longer.</p>
        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."tent. This content is a little bit longer.</p>
        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."tent. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">-Sheev "The Senate" Palpatine</small></p>
      </div>
    </div>
    <div class="col-md-4">
        <img src="https://img.cinemablend.com/filter:scale/quill/d/d/0/7/0/f/dd070f6377aed3a096ca4ca0288df184dcc0aeab.jpg?mw=600" alt="Sheev" style = "object-fit:cover; width:100%; height:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    </div>
  </div>
</div>
<div class="card img-fluid" style="width:500px">
    <img class="card-img-top" src="https://www.colorhexa.com/181f26.png" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
{% endblock %}
