{% extends "staff/base.html" %}
{% block title %}Registration Page{% endblock %}

{% block content %}
{% from "customer/includes/_formHelper.html" import render_field %}
<br><br><br>
<center>
  <h1 class="display-6">Create Staff</h1>

<form method="POST" action="">
  <div class="form-group col-lg-4">
    {{ render_field(form.staff_username, class="form-control") }}
  </div>
  <div class="form-group col-lg-4">
    {{ render_field(form.staff_email, class="form-control") }}
  </div>
  <div class="form-group col-lg-1">
    {{ render_field(form.staff_gender, class="form-control") }}
  </div>
  <div class="form-group col-lg-4">
    {{ render_field(form.staff_password, class="form-control") }}
  </div>
  <div id="prof">
    <div class="form-group col-lg-4">
      {{ render_field(form.staff_confirm_password, class="form-control") }}
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</center>
{% endblock %}
