{% extends "staff/base.html" %}

{% block title %} Unified Help - Cost Analysis{% endblock %}

<!-- Any css files/ internal css in here -->
{% block head %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='staff/RG/cost_analysis.css')}}">
{% endblock %}

<!-- Page content in here -->
{% block content %}
<!--___________Analytics Overview________________-->
<div class="card  Overview" style="border:none;">
  <div class="d-flex justify-content-between  mb-3">
    <div class="p-2 card-title">
      <h3>Top 5 Reduced Costs This Year</h3>
    </div>
  </div>
  <div class="card-deck">
    <!--__________Overview 1____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-hand-holding-usd" style="font-size:36px;"></i>
        <p class="card-text"><strong>$31000</strong></p>
        <p class="card-text desc">1. Total Monetary Donations</p>
      </div>
    </div>
    <!--__________Overview 2____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-couch" style="font-size:36px;"></i>
        <p class="card-text"><strong>215</strong></p>
        <p class="card-text desc">2. Total Item Donations</p>
      </div>
    </div>
    <!--__________Overview 3____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class='fas fa-warehouse' style="font-size:36px;"></i>
        <p class="card-text"><strong>70%</strong></p>
        <p class="card-text desc">3. Inventory Space used</p>
      </div>
    </div>
    <!--___________Overview 4____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-dollar-sign" style="font-size:36px;"></i>
        <p class="card-text"><strong>$4000</strong></p>
        <p class="card-text desc">4. Total Expenses Incurred</p>
      </div>
    </div>
    <!--___________Overview 5____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-dollar-sign" style="font-size:36px;"></i>
        <p class="card-text"><strong>$4000</strong></p>
        <p class="card-text desc">5. Total Expenses Incurred</p>
      </div>
    </div>
  </div>
</div>
<div class="card costs-charts" style="border:none;">
  <div class="row">
    <div class="col-lg-6">
      <!--___________Campaign Costs_____________-->
      <div class="card card-chart">
        <div class="card-header">
          <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 card-title">
              <h3>Campaign Costs</h3>
            </div>
            <div class="p-2">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-dark btn-simple active" id="0">
                  <input type="radio" name="options" checked="">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Previous Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="CC_container"></div>
          </div>
        </div>
      </div>
      <!--___________Inventroy Storage Costs Costs_____________-->
      <div class="card card-chart" style="margin-top:5%;">
        <div class="card-header">
          <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 card-title">
              <h3>Inventory Storage Costs</h3>
            </div>
            <div class="p-2">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-dark btn-simple active" id="0">
                  <input type="radio" name="options" checked="">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Previous Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="ISC_container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <!--_________Charitable Activites/ Programs Chart____________-->
      <div class="card card-chart">
        <div class="card-header">
          <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 card-title">
              <h3>Charitable Programs Costs</h3>
            </div>
            <div class="p-2">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-dark btn-simple active" id="0">
                  <input type="radio" name="options" checked="">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Previous Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="CAP_container"></div>
          </div>
        </div>
      </div>
      <!--_________Fund-Raising Expenses Chart____________-->
      <div class="card card-chart" style="margin-top:5%;">
        <div class="card-header">
          <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 card-title">
              <h3>Fund-Raising Expenses</h3>
            </div>
            <div class="p-2">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-dark btn-simple active" id="0">
                  <input type="radio" name="options" checked="">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Previous Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="FRE_container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <!--___________Admin Costs Chart____________-->
      <div class="card card-chart" style="margin-top:5%;">
        <div class="card-header">
          <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 card-title">
              <h3>Administration Costs</h3>
            </div>
            <div class="p-2">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-dark btn-simple active" id="0">
                  <input type="radio" name="options" checked="">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Previous Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="AC_container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <!--___________Utilities Costs Chart____________-->
      <div class="card card-chart" style="margin-top:8%;">
        <div class="card-header">
          <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 card-title">
              <h3>Utilities Costs</h3>
            </div>
            <div class="p-2">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-dark btn-simple active" id="0">
                  <input type="radio" name="options" checked="">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Previous Year</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"></i>
                  </span>
                </label>
                <label class="btn btn-sm btn-dark btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"></i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div id="UC_container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div>
</div> -->
{% endblock %}

<!-- Link any js files here -->
{% block script %}
<script type="text/javascript">
  //--------------- Camapign Costs Line Chart ---------------//
  // create data
  // var data = {{ data|safe }}
  //
  // // create a chart
  // chart = anychart.line();
  //
  // // create a line series and set the data
  // var series = chart.line(data);
  //
  // chart.yScale().minimum(0);
  // // set the container id
  // chart.container("CC_container");
  //
  // // initiate drawing the chart
  // chart.draw();
  anychart.onDocumentReady(function() {
    // set the data
    table = anychart.data.table();
    table.addData({{ data | safe }});

    // map the data
    mapping = table.mapAs();
    mapping.addField('value', 1);


    // chart type
    var chart = anychart.stock();
    chart.crosshair(false);
    chart.scroller().column(mapping);

    var rangeSelector = anychart.ui.rangeSelector();
    var rangePicker = anychart.ui.rangePicker();


    // set the series
    var series = chart.plot(0).spline(mapping);
    series.name("Campaign Costs");

    chart.container('CC_container');
    chart.draw();

    // Render the range picker into an instance of a stock chart
    rangePicker.render(chart);
    rangeSelector.render(chart);
  });

  //---------------- Inventory Storage Costs Line Chart ---------------//
  // create data
  var data = [
    ["January", 10000],
    ["February", 12000],
    ["March", 18000],
    ["April", 11000],
    ["May", 9000]
  ];

  // create a chart
  chart = anychart.line();

  // create a line series and set the data
  var series = chart.line(data);

  // set the container id
  chart.container("ISC_container");

  // initiate drawing the chart
  chart.draw();

  //--------------- Charitable activities expenses Line Chart ---------------//
  // create data
  var data = [
    ["January", 10000],
    ["February", 12000],
    ["March", 18000],
    ["April", 11000],
    ["May", 9000]
  ];

  // create a chart
  chart = anychart.line();

  // create a line series and set the data
  var series = chart.line(data);

  // set the container id
  chart.container("CAP_container");

  // initiate drawing the chart
  chart.draw();

  //--------------- Fund Raising Expenses Line Chart ---------------//
  // create data
  var data = [
    ["January", 10000],
    ["February", 12000],
    ["March", 18000],
    ["April", 11000],
    ["May", 9000]
  ];

  // create a chart
  chart = anychart.line();

  // create a line series and set the data
  var series = chart.line(data);

  // set the container id
  chart.container("FRE_container");

  // initiate drawing the chart
  chart.draw();

  //--------------- Administration Costs Line Chart ---------------//
  // create data
  var data = [
    ["January", 10000],
    ["February", 12000],
    ["March", 18000],
    ["April", 11000],
    ["May", 9000]
  ];

  // create a chart
  chart = anychart.line();

  // create a line series and set the data
  var series = chart.line(data);

  // set the container id
  chart.container("AC_container");

  // initiate drawing the chart
  chart.draw();

  //--------------- Utilities Costs Line Chart ---------------//
  // create data
  var data = [
    ["January", 10000],
    ["February", 12000],
    ["March", 18000],
    ["April", 11000],
    ["May", 9000]
  ];

  // create a chart
  chart = anychart.line();

  // create a line series and set the data
  var series = chart.line(data);

  // set the container id
  chart.container("UC_container");

  // initiate drawing the chart
  chart.draw();
</script>
{% endblock %}
