{% extends "staff/base.html" %}

{% block title %} Unified Help - Dashboard{% endblock %}

<!-- Any css files/ internal css in here -->
{% block head %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='staff/RG/dashboard.css')}}">
{% endblock %}

<!-- Page content in here -->
{% block content %}
<!--___________Analytics Overview________________-->
<div class="card  Overview" style="border:none;">
  <div class="d-flex justify-content-between  mb-3">
    <div class="p-2 card-title">
      <h3>Analytics Overview</h3>
    </div>
    <!--____________Time period toggle_____________-->
    <div class="p-2">
      <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-sm btn-dark btn-simple" id="1" onclick="this_month()">
          <input type="radio" class="d-none d-sm-none" name="options">
          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Month</span>
          <span class="d-block d-sm-none">
            <i class="tim-icons icon-gift-2"></i>
          </span>
        </label>
        <label class="btn btn-sm btn-dark btn-simple" id="2" onclick="this_year()">
          <input type="radio" class="d-none" name="options">
          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
          <span class="d-block d-sm-none">
            <i class="tim-icons icon-tap-02"></i>
          </span>
        </label>
        <label class="btn btn-sm btn-dark btn-simple" id="3" onclick="overall()">
          <input type="radio" class="d-none" name="options">
          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Overall</span>
          <span class="d-block d-sm-none">
            <i class="tim-icons icon-tap-02"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <!--__________Overview 1____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-hand-holding-usd" style="font-size:36px;"></i>
        <p class="card-text" id="total_money_donations"><strong>${{ total_month_donations }}</strong></p>
        <p class="card-text desc">Total Monetary Donations</p>
      </div>
    </div>
    <!--__________Overview 2____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-couch" style="font-size:36px;"></i>
        <p class="card-text" id="total_item_donations"><strong>{{ total_month_items }}</strong></p>
        <p class="card-text desc">Total Item Donations</p>
      </div>
    </div>
    <!--__________Overview 3____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class='fas fa-warehouse' style="font-size:36px;"></i>
        <p class="card-text"><strong>70%</strong></p>
        <p class="card-text desc">Inventory Space used</p>
      </div>
    </div>
    <!--___________Overview 4____________-->
    <div class="card card-header">
      <div class="card-body text-center">
        <i class="fas fa-dollar-sign" style="font-size:36px;"></i>
        <p class="card-text" id="total_month_expenses"><strong>${{ EI_this_month }}</strong></p>
        <p class="card-text desc">Total Expenses Incurred</p>
      </div>
    </div>
  </div>
</div>
<div class ="chart-group">
<!--__________Chart Row 1, Includes Incoming Donation Analysis & Inventory Space_______________-->
<div class="row">
  <!--Incoming Donation Analysis-->
  <div class="col-lg-8">
    <div class="card card-chart">
      <div class="card-header">
        <div class="d-flex justify-content-between  mb-3">
          <div class="p-2 card-title">
            <h3>Incoming Donation Analysis</h3>
          </div>
          <div class="p-2">
            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active">
              <label class="btn btn-sm btn-dark btn-simple active">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                <span class="d-block d-sm-none">
                </span>
              </label>
              </li>
              <li data-target="#carouselExampleIndicators1" data-slide-to="1">
              <label class="btn btn-sm btn-dark btn-simple">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                <span class="d-block d-sm-none">
                </span>
              </label>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div id="carouselExampleIndicators1" class="carousel slide" data-interval="false" style="height:100%;width:100%;">
            <div class="carousel-inner" style="height:100%;width:100%;">
              <div class="carousel-item active" style="height:100%;width:100%;">
                  <div id="IDA_container"></div>
              </div>
              <div class="carousel-item " style="height:100%;width:100%;">
                <div id="IDA_container1"  style="height:100%;width:100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Inventory Storage-->
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <div class="d-flex justify-content-between  mb-3">
          <div class="p-2 card-title">
            <h3>Inventory Space</h3>
          </div>
          <div class="p-2">
              <label class="btn btn-sm btn-dark btn-simple" id="streamButton"  onclick="startStream()">
                <input type="radio" class="d-none d-sm-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Live</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-gift-2"></i>
                </span>
              </label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div id="IS_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--__________Chart Row 2, Includes Online vs Offline Donations & Expenses Incurred Area Chart_______________-->
<div class="row">
  <!--Online vs Offline Donations-->
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <div class="d-flex justify-content-between  mb-3">
          <div class="p-2 card-title">
            <h3>Online vs Offline Donations</h3>
          </div>
          <div class="p-2">
            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
              <label class="btn btn-sm btn-dark btn-simple active">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                <span class="d-block d-sm-none">
                </span>
              </label>
              </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1">
              <label class="btn btn-sm btn-dark btn-simple">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                <span class="d-block d-sm-none">
                </span>
              </label>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" style="height:100%;width:100%;">
            <div class="carousel-inner" style="height:100%;width:100%;">
              <div class="carousel-item active" style="height:100%;width:100%;">
                  <div id="On_vs_Off_container"></div>
              </div>
              <div class="carousel-item " style="height:100%;width:100%;">
                <div id="On_vs_Off_container1"  style="height:100%;width:100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Expenses Incurred Area Chart-->
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <div class="d-flex justify-content-between  mb-3">
          <div class="p-2 card-title">
            <h3>Total Expenses Incurred</h3>
          </div>
          <div class="p-2">
            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              <label class="btn btn-sm btn-dark btn-simple" id="1" onclick="EI_thisYear()">
                <input type="radio" class="d-none d-sm-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">This Year</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-gift-2"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-dark btn-simple" id="2" onclick="EI_overall()">
                <input type="radio" class="d-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 5 Years</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <div id="EI_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

<!-- Link any js files here -->
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js"></script>
<script>
//--------------- Overview ---------------//
function this_month() {
  var header1 = document.getElementById("total_money_donations");
  header1.childNodes[0].textContent = "$" + {{ total_month_donations }};

  var header2 = document.getElementById("total_item_donations");
  header2.childNodes[0].textContent = {{ total_month_items }};

  var header3 = document.getElementById("total_month_expenses");
  header3.childNodes[0].textContent = "$" + {{ EI_this_month}};
};

function this_year() {
  var header1 = document.getElementById("total_money_donations");
  header1.childNodes[0].textContent = "$" + {{ total_year_donations }};

  var header2 = document.getElementById("total_item_donations");
  header2.childNodes[0].textContent = {{ total_year_items }};

  var header3 = document.getElementById("total_month_expenses");
  header3.childNodes[0].textContent = "$" + {{ EI_this_year_overview }};
};

function overall() {
  var header1 = document.getElementById("total_money_donations");
  header1.childNodes[0].textContent = "$" + {{ overall_donations }};

  var header2 = document.getElementById("total_item_donations");
  header2.childNodes[0].textContent = {{ overall_items }};

  var header3 = document.getElementById("total_month_expenses");
  header3.childNodes[0].textContent = "$" + {{ EI_overall_overview }};
};


//--------------- Incoming Donation Analysis Area Chart ---------------//
  anychart.onDocumentReady(function () {

    // create a data set
    var data = anychart.data.set({{ IDA_this_year|safe }});

    // map the data
    var seriesData_1 = data.mapAs({x: 0, value: 1});
    var seriesData_2 = data.mapAs({x: 0, value: 2});
    var seriesData_3 = data.mapAs({x: 0, value: 3});
    var seriesData_4 = data.mapAs({x: 0, value: 4});
    var seriesData_5 = data.mapAs({x: 0, value: 5});
    var seriesData_6 = data.mapAs({x: 0, value: 6});
    var seriesData_7 = data.mapAs({x: 0, value: 7});

    // create a chart
    var chart = anychart.area();

    // enable the value stacking mode
    chart.yScale().stackMode("value");

    // create area series, set the data
    var series1 = chart.area(seriesData_1);
      series1.name("Donated to cause")
    var series2 = chart.area(seriesData_2);
      series2.name("Campaign Costs")
    var series3 = chart.area(seriesData_3);
      series3.name("Inventory Storage Costs")
    var series4 = chart.area(seriesData_4);
      series4.name("Charitable expenses costs")
    var series5 = chart.area(seriesData_5);
      series5.name("Fund Raising Costs")
    var series6 = chart.area(seriesData_6);
      series6.name("Administration Costs")
    var series7 = chart.area(seriesData_7);
      series7.name("Utilities Costs")

    {% raw %}
    // configure tooltips
    //chart.tooltip().format("{%}{%value} ({%yPercentOfCategory}{decimalsCount:2}%)");

    // configure labels on the y-axis
    chart.yAxis().labels().format("{%value}");
    {% endraw %}

    // Configure titles/ axis/ others
    chart.title("Donations to cause vs costs");
    chart.animation(true);
    chart.legend(true);
    // set the container id
    chart.container("IDA_container");

    // initiate drawing the chart
    chart.draw();
  });

  anychart.onDocumentReady(function () {

    // create a data set
    var data = anychart.data.set({{ IDA_overall|safe }});

    // map the data
    var seriesData_1 = data.mapAs({x: 0, value: 1});
    var seriesData_2 = data.mapAs({x: 0, value: 2});
    var seriesData_3 = data.mapAs({x: 0, value: 3});
    var seriesData_4 = data.mapAs({x: 0, value: 4});
    var seriesData_5 = data.mapAs({x: 0, value: 5});
    var seriesData_6 = data.mapAs({x: 0, value: 6});
    var seriesData_7 = data.mapAs({x: 0, value: 7});

    // create a chart
    var chart = anychart.area();

    // enable the value stacking mode
    chart.yScale().stackMode("value");

    // create area series, set the data
    var series1 = chart.area(seriesData_1);
      series1.name("Donated to cause")
    var series2 = chart.area(seriesData_2);
      series2.name("Campaign Costs")
    var series3 = chart.area(seriesData_3);
      series3.name("Inventory Storage Costs")
    var series4 = chart.area(seriesData_4);
      series4.name("Charitable expenses costs")
    var series5 = chart.area(seriesData_5);
      series5.name("Fund Raising Costs")
    var series6 = chart.area(seriesData_6);
      series6.name("Administration Costs")
    var series7 = chart.area(seriesData_7);
      series7.name("Utilities Costs")

    {% raw %}
    // configure tooltips
    //chart.tooltip().format("{%}{%value} ({%yPercentOfCategory}{decimalsCount:2}%)");

    // configure labels on the y-axis
    chart.yAxis().labels().format("{%value}");
    {% endraw %}

    // Configure titles/ axis/ others
    chart.title("Donations to cause vs costs");
    chart.animation(true);
    chart.legend(true);
    // set the container id
    chart.container("IDA_container1");

    // initiate drawing the chart
    chart.draw();
  });

//--------------- Inventory Space doughnut chart ---------------//
  anychart.onDocumentReady(function () {

    // create data
    live_data = anychart.data.set([
      {x: "Used", value: 70},
      {x: "Free", value: 30},
    ]);

    // create a pie chart and set the data
    var chart = anychart.pie(live_data);

    /* set the inner radius
    (to turn the pie chart into a doughnut chart)*/
    chart.innerRadius("30%");

    // set the chart title
    chart.animation(true)
    chart.legend(true)
    // set the container id
    chart.container("IS_container");

    // initiate drawing the chart
    chart.draw();
});

function startStream() {

  // adjust button content
  var streamButton = document.getElementById("streamButton");
  streamButton.innerHTML = "Stop" + "\nstream";

  // set interval of data stream
  var myVar = setInterval(

    // data streaming itself
    function() {

      // append data
      live_data.append({

        // x value
        x: "Used",

        // random value from 1 to 500
        value : Math.floor((Math.random() * 60)+ 1)
      });

      // removes first point
      live_data.remove(0);
      indexSetter++;
    }, 500            // interval
  );

  streamButton.onclick = function() {

    // clears interval which stops streaming
    clearInterval(myVar);
    streamButton.onclick = function () {
      startStream();
    };
    streamButton.innerHTML = "Start" + "\nstream";
  };
};

//--------------- Online vs Offline Donations Line graph (comparison) ---------------//
anychart.onDocumentReady(function () {

    // create a data set
    var data = anychart.data.set({{ online_vs_offline|safe }});

    // map the data
    var seriesData_1 = data.mapAs({x: 0, value: 1});
    var seriesData_2 = data.mapAs({x: 0, value: 2});
    var seriesData_3 = data.mapAs({x: 0, value: 3});

    // create a chart
    var chart = anychart.line();
    // create the first series, set the data and name
    var series1 = chart.line(seriesData_1);
    series1.name("Online Donations");

    // configure the visual settings of the first series
    series1.normal().stroke("#00cc99", 1, "10 5", "round");
    series1.hovered().stroke("#00cc99", 2, "10 5", "round");
    series1.selected().stroke("#00cc99", 4, "10 5", "round");

    // create the second series, set the data and name
    var series2 = chart.line(seriesData_2);
    series2.name("Offline Donations");

    // configure the visual settings of the second series
    series2.normal().stroke("#0066cc");
    series2.hovered().stroke("#0066cc", 2);
    series2.selected().stroke("#0066cc", 4);

    var series3 = chart.line(seriesData_3);
    series3.name("Total Donations");

    chart.animation(true);
    chart.legend(true);

    // set the titles of the axes
    chart.xAxis().title("Month");
    chart.yAxis().title("Donations, $");

    // set the container id
    chart.container("On_vs_Off_container");

    // initiate drawing the chart
    chart.draw();
});

anychart.onDocumentReady(function () {

    // create a data set
    var data = anychart.data.set({{ On_vs_Off_overall|safe }});

    // map the data
    var seriesData_1 = data.mapAs({x: 0, value: 1});
    var seriesData_2 = data.mapAs({x: 0, value: 2});
    var seriesData_3 = data.mapAs({x: 0, value: 3});

    // create a chart
    var chart = anychart.column();

    // create the first series, set the data and name
    var series1 = chart.column(seriesData_1);
    series1.name("Total Online Donations");

    // configure the visual settings of the first series
    series1.normal().fill("#00cc99", 0.3);
    series1.hovered().fill("#00cc99", 0.1);
    series1.selected().fill("#00cc99", 0.5);
    series1.normal().stroke("#00cc99", 1, "10 5", "round");
    series1.hovered().stroke("#00cc99", 2, "10 5", "round");
    series1.selected().stroke("#00cc99", 4, "10 5", "round");

    // create the second series, set the data and name
    var series2 = chart.column(seriesData_2);
    series2.name("Total Offline Donations");

    // configure the visual settings of the second series
    series2.normal().fill("#0066cc", 0.3);
    series2.hovered().fill("#0066cc", 0.1);
    series2.selected().fill("#0066cc", 0.5);
    series2.normal().hatchFill("forward-diagonal", "#0066cc", 1, 15);
    series2.hovered().hatchFill("forward-diagonal", "#0066cc", 1, 15);
    series2.selected().hatchFill("forward-diagonal", "#0066cc", 1, 15);
    series2.normal().stroke("#0066cc");
    series2.hovered().stroke("#0066cc", 2);
    series2.selected().stroke("#0066cc", 4);

    var series3 = chart.column(seriesData_3);
    series3.name("Total Donations");

    // set the titles of the axes
    chart.xAxis().title("Year");
    chart.yAxis().title("Donations, $");
    chart.animation(true);
    chart.legend(true);

    // set the container id
    chart.container("On_vs_Off_container1");

    // initiate drawing the chart
    chart.draw();
});
//--------------- Expenses Incurred bar chart ---------------//

anychart.onDocumentReady(function () {
  cc_data = anychart.data.set({{ EI_this_year|safe }});

  cc_data1 = anychart.data.set({{ EI_overall|safe }});


//Mapping each sub category to a line series
var cc_seriesData_1 = cc_data.mapAs({x: 0, value: 1});


  // create line chart
cc_chart = anychart.column();

//plotting each series line and setting each series name
var cc_series1 = cc_chart.column(cc_seriesData_1);
  cc_series1.name("Expenses Incurred")

// Animation, legend and axis titles
cc_chart.animation(true);


  // set container id and display chart
  cc_chart.container('EI_container').draw();
});

// load initial data on button click
function EI_thisYear(){
  cc_chart.getSeries(0).data(cc_data);

}

function EI_overall() {
  cc_chart.getSeries(0).data(cc_data1);
}
</script>
{% endblock %}
