{% extends "staff/base.html" %}
{% block title %}Data Upload - Manual Insert{% endblock %}

{% block content %}
{% from "staff/includes/_formHelper.html" import render_field %}

<h1 class="display-4">Upload Data</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.data_field, class="form-control") }}
  </div>
    <div class="form-group">
    {{ render_field(form.month, class="form-control") }}
  </div>
    <div class="form-group">
    {{ render_field(form.year, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.data_value, class="form-control") }}
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
