{% extends "staff/base.html" %}

{% block title %} Unified Help - Update Histroy{% endblock %}

<!-- Any css files/ internal css in here -->
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='staff/RG/update_history.css')}}">
{% endblock %}

<!-- Page content in here -->
{% block content %}
<h1 style="text-align:center; margin-top:5%;">Update History</h1>
<div class="card card1" style="border:1px solid #181f26;margin:3% 5%;padding:2%;">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Update Index</th>
            <th>Data Field</th>
            <th>Month/Year of Data Field</th>
            <th>Previous Value</th>
            <th>New Value</th>
            <th>Date/ Time of Update</th>
            <th>Updated by:</th>
        </tr>
    </thead>
    <tbody>
      {% for change in update_history %}
        <tr>
            <td>{{ change.get_change_id() }}</td>
            <td>{{ change.get_field() }}</td>
            <td>{{ change.get_month() }} {{ change.get_year() }}</td>
            <td>{{ change.get_old_value() }}</td>
            <td>{{ change.get_new_value() }}</td>
            <td>{{ change.get_now_date() }} {{ change.get_now_time() }}</td>
            <td>{{ change.get_user() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

<!-- Link any js files here -->
{% block script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
    } );
</script>
{% endblock %}
