{% extends "customer/base.html" %}
{% block title %}Donate Item{% endblock %}

{% block head %}
{% endblock %}

{% set active_page = "donate" %}

{% block content %}
{% from "customer/includes/_formHelper.html" import render_field %}

<br /><br /><br />
<h2 class="col-lg-12">Donation Gallery</h2>

{% for donorIID in donorsIID_list %}
    <tr>
        <!-- Donation ID -->
        <td><a href="/donate/itemupdate/{{ donorIID.get_itemID() }}" style="color:#eb5d1e;">{{ donorIID.get_itemID() }}</a></td>

        <!-- Donation Description -->
        <td>{{ donorIID.get_donate_type() }}: <br> {{ donorIID.get_item_name() }}</td>

        <!-- Donate to Who -->
        <td>{{ donorIID.get_donate_who() }}</td>

        <!-- If item donation, only show collection type -->
        <td>{{ donorIID.get_collection_type() }} <br> Date: {{ donorIID.get_date() }}/{{ donorIID.get_month() }}/21 <br>
        Time: {{ donorIID.get_time() }}</td>

        <td>--</td>

        <!-- Donation Confirmation -->
        {% if donorIID.get_status() == "Confirmed" %}
        <td>{{ donorIID.get_status() }}</td>
        {% elif donorIID.get_status() == "Pending" %}
        <td><a href="/donate/details/confirmation/{{ donorIID.get_itemID() }}" style="color:#eb5d1e;">{{ donorIID.get_status() }}</a></td>
        {% else %}
        <td> </td>
        {% endif %}

    </tr>
{% endfor %}

{% endblock %}

{% block scripts %}
{% endblock %}
