{% extends "customer/base.html" %}
{% block title %}Donation Gallery{% endblock %}

{% block head %}
{% endblock %}

{% set active_page = "donate" %}

{% block content %}
{% from "customer/includes/_formHelper.html" import render_field %}

<br /><br /><br />
<h2 class="col-lg-12">Donation Gallery</h2>

{% for donorIID in donorsIID_list %}
    <tr>
        <!-- Donation ID -->
        <td>{{ donorIID.get_itemID() }}</td>

        <!-- Donation Description -->
        <td>{{ donorIID.get_donate_type() }}: <br> {{ donorIID.get_item_name() }}</td>

        <!-- Image -->
        <td><img src="static/customer/img/Idonation/{{ donorIID.get_item_image() }}" class="img-fluid" style="width: 30%;"></td>
    </tr>
{% endfor %}

{% endblock %}

{% block scripts %}
{% endblock %}
