{% extends "customer/base.html" %}
{% block title %}Create Forum Post{% endblock %}
{% block head %}
  <link href="{{url_for('static', filename = 'customer/css/style-forum.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
{% from "customer/includes/_formHelper.html" import render_field %}

<nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <h1><a href="index.html" class="navbar-brand">Forum</a></h1>
        <form class="form-inline">
          <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </nav>
    <div class="container my-3">
      <nav class="breadcrumb">
        <a href="{{url_for('forum')}}" class="breadcrumb-item" style="text-decoration: none">Unified Help Forum</a>
<!--        {% if category == 'Pinned Posts' %}-->
<!--        <a href="{{ url_for('forum_pinned_posts') }}" class="breadcrumb-item" style="text-decoration: none">{{ category }} Overview</a>-->
<!--        {% elif category == 'Announcements' %}-->
<!--        <a href="{{ url_for('forum_announcements_posts') }}" class="breadcrumb-item" style="text-decoration: none">{{ category }} Overview</a>-->
<!--        {% elif category == 'Unified Help Community' %}-->
<!--        <a href="{{ url_for('forum_uhc_posts') }}" class="breadcrumb-item" style="text-decoration: none">{{ category }} Overview</a>-->
<!--        {% endif %}-->
        <span class="breadcrumb-item active">Create new topic</span>
      </nav>

      <div class="row">
        <div class="col-12">
          <h2 class="h4 text-white forum-cat-color mb-3 p-4 rounded">Create new topic</h2>
          <form class="mb-3" method="POST" action="">
            <div class="form-group">
              {{ render_field(form.category, class="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.username, class="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.post_subject, class="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.post_message, class="form-control") }}
            </div>
            <input class="btn float-right" type="submit" value="Submit" style="background-color: #008080;color: #ffffff">
            <button type="reset" class="btn btn-danger float-left" style>Reset</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}

