{% extends "customer/base.html" %}
{% block title %}Create Forum Post{% endblock %}
{% block head %}
  <link href="{{url_for('static', filename = 'customer/css/style-forum.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
{% from "customer/includes/_formHelper.html" import render_field %}

<nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <h1><a href="customer/index.html" class="navbar-brand">Forum</a></h1>
        <form class="form-inline">
          <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </nav>
    <div class="container my-3">
      <nav class="breadcrumb">
        {% for post in list %}
        <a href="{{url_for('forum')}}" class="breadcrumb-item" style="text-decoration: none">Unified Help Forum</a>
        {% if post.get_category() == 'Pinned Posts' %}
        <a href="{{ url_for('forum_pinned_posts') }}" class="breadcrumb-item" style="text-decoration: none">{{ post.get_category() }} Overview</a>
        <a href="{{ url_for('forum_pinned_posts_post', post_id = post.get_post_id()) }}" class="breadcrumb-item" style="text-decoration: none">{{ post.get_post_subject() }}</a>
        {% elif post.get_category() == 'Unified Help Community' %}
        <a href="{{ url_for('forum_uhc_posts') }}" class="breadcrumb-item" style="text-decoration: none">{{ post.get_category() }} Overview</a>
        <a href="{{ url_for('forum_uhc_posts_post', post_id = post.get_post_id()) }}" class="breadcrumb-item" style="text-decoration: none">{{ post.get_post_subject() }}</a>
        {% endif %}
        <span class="breadcrumb-item active">Edit Message</span>
        {% endfor %}
      </nav>

      <div class="row">
        <div class="col-12">
          <h2 class="h4 text-white forum-cat-color mb-3 p-4 rounded">Edit</h2>
          <form class="mb-3" method="POST" action="">
            <div class="form-group">
              {{ render_field(form.post_message, class="form-control") }}
            </div>
            <input class="btn float-right" type="submit" value="Submit" style="background-color: #008080;color: #ffffff">
            <button type="reset" class="btn btn-danger float-left" style>Reset</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
