{% extends "customer/base.html" %}
{% block title %}Unified Help Forum{% endblock %}
  {% block head %}
    <link href="{{url_for('static', filename = 'customer/css/style-forum.css')}}" rel="stylesheet">
  {% endblock %}

{% set active_page = "cs" %}
<body>

  {% block content %}
  <br/><br/><br/><br/>
  <main>
    <div class="container my-3">
      <nav class="breadcrumb">
          <span class="breadcrumb-item active">Unified Help Forum</span>
      </nav>
      <br/>

      <!-- Pinned Posts Forum -->
      <div class="row">
        <div class="col-12 col-xl-12">
          <h2 class="h4 text-white mb-0 p-4 rounded-top forum-cat-color"><a href="{{url_for('forum_pinned_posts')}}" style="text-decoration: none; color:#ffffff">Pinned Posts</a></h2>
          <table class="table table-bordered table-responsive">
            <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 620px;text-align: center; margin:auto;">Topics</th>
              <th scope="col" style="width: 200px;text-align: center; margin:auto;">Created</th>
              <th scope="col" style="width: 100px;text-align: center; margin:auto;">Replies</th>
              <th scope="col" style="width: 200px;text-align: center; margin:auto;">Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% for post in pinned_posts_list|reverse %}
            {%- if loop.index > 3 %}{% break %}{% endif %}
            <tr>
              <td>
                <h3 class="h5" style="margin:auto;padding:10px 0px 10px 5px;"><a href="{{ url_for('forum_pinned_posts_post', forum_pinned_posts_id = post.get_forum_pinned_post_id() ) }}">{{ post.get_post_subject() }} - Forum Post ID: {{ post.get_forum_pinned_post_id() }}</a></h3>
              </td>
              <td>
                <p>by {{ post.get_username() }} <br/> {{post.get_date_time() }}</p>
              </td>
              <td>
                <p> </p>
              </td>
              <td>
                <p>by {{ post.get_username() }} <br/> {{post.get_date_time() }}</p>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>

        <!-- Announcement Forum -->
        <h2 class="h4 text-white mb-0 p-4 rounded-top forum-cat-color"><a href="{{url_for('forum_announcements_posts')}}" style="text-decoration: none; color:#ffffff">Announcements</a></h2>
        <table class="table table-bordered table-responsive">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 620px;text-align: center; padding-bottom:10px;padding-top:10px;">Topics</th>
              <th scope="col" style="width: 200px;text-align: center; padding-bottom:10px;padding-top:10px;">Created</th>
              <th scope="col" style="width: 100px;text-align: center; padding-bottom:10px;padding-top:10px;">Replies</th>
              <th scope="col" style="width: 200px;text-align: center; padding-bottom:10px;padding-top:10px;">Last Post</th>
            </tr>
          </thead>
          <tbody>
          {% for post in announcements_list|reverse %}
          {%- if loop.index > 3 %}{% break %}{% endif %}
          <tr>
            <td>
              <h3 class="h5" style="margin:auto;padding:10px 0px 10px 5px;"><a href="{{ url_for('forum_announcements_posts_post', forum_announcements_post_id = post.get_forum_announcements_post_id() ) }}">{{ post.get_post_subject() }} - Forum Post ID: {{ post.get_forum_announcements_post_id() }}</a></h3>
            </td>
            <td>
              <p style="margin:auto;padding:10px 0px 10px 5px;">by {{ post.get_username() }} <br/> {{post.get_date_time() }}</p>
            </td>
            <td>
              <p> </p>
            </td>
            <td>
              <p style="margin:auto;padding:10px 0px 10px 5px;">by {{ post.get_username() }} <br/> {{post.get_date_time() }}</p>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

        <!-- Unified Help Community Forum -->
        <h2 class="h4 text-white mb-0 p-4 rounded-top forum-cat-color"><a href="{{url_for('forum_uhc_posts')}}" style="text-decoration: none; color:#ffffff">Unified Help Community</a></h2>
        <table class="table table-bordered table-responsive">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="width: 620px;text-align: center; margin:auto;">Topics</th>
              <th scope="col" style="width: 200px;text-align: center; margin:auto;">Created</th>
              <th scope="col" style="width: 100px;text-align: center; margin:auto;">Replies</th>
              <th scope="col" style="width: 200px;text-align: center; margin:auto;">Last Post</th>
            </tr>
          </thead>
          <tbody>
            {% for post in uhc_list|reverse %}
            {%- if loop.index > 3 %}{% break %}{% endif %}
          <tr>
            <td>
              <h3 class="h5" style="margin:auto;padding:10px 0px 10px 5px;"><a href="{{ url_for('forum_uhc_posts_post', forum_uhc_post_id = post.get_forum_uhc_post_id() ) }}">{{ post.get_post_subject() }}  - Forum Post ID: {{ post.get_forum_uhc_post_id() }}</a></h3>
            </td>
            <td>
              <p>by {{ post.get_username() }} <br/> {{post.get_date_time() }}</p>
            </td>
            <td>
              <p> </p>
            </td>
            <td>
              <p>by {{ post.get_username() }} <br/> {{post.get_date_time() }}</p>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </main>
  <!-- End #main -->
  {% endblock %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

</body>
