{% extends "customer/base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Membership</th>
        <th>Remarks</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for post in forum_list %}
      <tr>
        <td>{{ post.get_post_subject() }}</td>
        <td>{{ post.get_post_message() }}</td>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}

