{% extends "customer/base.html" %}
{% block title %}Account{% endblock %}

  {% block head %}
  {% endblock %}

<body>
  {% block content %}
<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">

                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <center><button type="button" id="sendlogin" class="btn btn-primary">Login</button>
                            <button type="button" id="forgotPassword" class="btn btn-primary">Forgot Password</button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main><!-- End #main -->
  {% endblock %}


</body>
