{% extends "customer/base.html" %}
{% block title %}Profile{% endblock %}

  {% block head %}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  {% endblock %}

<body>
  {% block content %}
    <section class="hero is-success is-fullheight" style="background-color:white; text-align:center;">
      <a href="{{url_for('logout')}}"><button type="submit">Log Out</button></a></li>
      <div class="hero-body">
        <div class="container">
          <img src="static/img/UnifiedHelpLogo.png">
          <h1 class="title" style="color:black;">
            {{username}}'s Profile
          </h1>
          <h2 class="subtitle" style="color:black;">
            You are user number #
          </h2>
        </div>
      </div>
    </section>
  {% endblock %}


</body>
